@media screen and (min-width: 1025px) and (max-width: 1920px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    main {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        position: fixed;
        bottom: -50px;
        left: 0;
        width: 100%;
        height: 70px;
        background: black;
        transition: bottom 0.3s ease;
    }

    footer:hover {
        bottom: 0;
    }
    
    body {
        background-image: url(wppmediaquery.png);
    }
}