
body{
    background-image: url('treinowpp2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 50vh;
    margin-top: 1px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

hr{
    color: white;
    background-color: white;
    grid-column: 4/11;
    grid-row: 1/3;
    align-self: center;
    
}
.logo{
    background-image: url(Montanha.png);
    grid-column:10;
    grid-row: 1;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    justify-content: end;
    margin-bottom: 10px;
}
.mn1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    grid-column: 4;
    grid-row: 1;
    align-self: end;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    margin-bottom: 5px;

    
}


.mn2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    grid-column: 4;
    grid-row: 2;
    margin-right: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    

}

.mn3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    grid-column: 5;
    grid-row: 2;
    margin-top: 1px;   
    margin-right: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.mn4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    grid-column: 6;
    grid-row: 2;   
    margin-top: 1px; 
    margin-right: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.mn5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    grid-column: 7;
    grid-row: 2;    
    margin-top: 1px;
    margin-right: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.mn6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    grid-column: 8;
    grid-row: 2;    
    margin-top: 1px;
    margin-right: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

