@media screen and (max-width: 748px) {
    body {
        min-height: 100vh;
        background-image: url(wppmediaquery.png);
        background-size: cover;
        background-attachment: fixed;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
    }
     
    #as1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 4rem;
        justify-content: center;
    }



    footer {
        color: white;
        font-weight: bold;
        width: 90%;
        background: black;
        text-align: center;
        position: FIXED;
        bottom: 0;
        left: 0;
        height: 80px;
        transition: bottom 0.3s ease;
        bottom: -60px;

    }

    footer:hover{
        bottom: 0;
    }

    main {
        flex: 1;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        margin-left: 0;
    }


 

    #buttonas {
        font-weight: bold;
        font-family: 'Sitka subheading';
        color: white;
        background-color: transparent;
        text-align: center;
        font-size: 1.5rem;
        width: 200px;
        height: 85px;
        margin-top: 40px;
        margin-left: 40%;
        border: 2px solid white;
        border-radius: 27px;
        box-shadow: 0 0 15px white;
        margin-left: 100px;


    }

    #buttonas:hover {

        transition: all 0.3s ease;
        justify-content: center;
        text-align: center;
        background-color: #ffd630;
        border: 2px solid black;
        box-shadow: 0 0 15px rgb(0, 0, 0);
        color: black;
    }


    hr {
        color: white;
        border: 2px 2px 2px 2px;
        grid-column: 2/10;
        grid-row: 1/3;
        align-self: center;
    }

    

}
