
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #686b77 0%, #0a0406 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    padding: 2rem;
    
    box-shadow:rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-family: 'Google Sans';
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #555;
}

input {
    font-family: 'Comic Sans MS';
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

button {
    padding: 12px;
    background: #141414;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;   
    width: 100%;
}

button:hover {
    background: #fbff00;
    color: black;
    transition: 0.1s ease;
}

a {
    color: #667eea;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

#mensagem {
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.mensagem-sucesso {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.mensagem-erro {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

#area-logada {
    text-align: center;
}

#dados-usuario {
    margin: 1rem 0;
    padding: 1rem;
    background: #f8f9fa;
    border-radius: 5px;
    text-align: left;
}
